<!DOCTYPE html>
<html>
<head>
  <title>Battery Status API Example</title>

  <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
  <script>
    window.onload = function () {
      function updateBatteryStatus(battery) {
        document.querySelector('#charging').textContent = battery.charging;
        document.querySelector('#level').textContent = battery.level;
        document.querySelector('#chargingTime').textContent = battery.chargingTime;
        document.querySelector('#dischargingTime').textContent = battery.dischargingTime;

        var message = battery.charging.toString() +
          battery.level.toString() +
          battery.chargingTime.toString() +
          battery.dischargingTime.toString();

        var hash = CryptoJS.SHA256(message);

        document.querySelector('#pseudoCookie').textContent = hash;
      }

      navigator.getBattery().then(function(battery) {
        // Update the battery status initially when the promise resolves ...
        updateBatteryStatus(battery);

        // .. and for any subsequent updates.
        battery.onchargingchange = function () {
          updateBatteryStatus(battery);
        };

        battery.onchargingtimechange = function () {
          updateBatteryStatus(battery);
        };

        battery.onlevelchange = function () {
          updateBatteryStatus(battery);
        };

        battery.ondischargingtimechange = function () {
          updateBatteryStatus(battery);
        };
      });
    };
  </script>
</head>
<body>
  <h1> Battery Status API </h1>

  <div> Charging: <span id="charging">(charging state unknown)</span> </div>
  <div> Level: <span id="level">(battery level unknown)</span></div>
  <div> Charging Time: <span id="chargingTime">(discharging time unknown)</span></div>
  <div> Discharging Time: <span id="dischargingTime">(discharging time unknown)</span></div>

  <h3> Pseudo-Cookie: <span id="pseudoCookie">(unknown)</span></h3>
</body>
</html>
